body 
{
    background-image: url("currency.jpeg");
    font-family: 'Karla', sans-serif;
    color: whitesmoke;

}

.container-1 
{
  background-color: #ff99a5;
  border: transparent;
  height: 520px;
  width: 400px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  margin-top: 200px;
  position: static;
  overflow: hidden;
}

h1
{
  padding: 50px;
}

.flex-box-container-1
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.flex-box-container-1 div
{
    display: flex;
    padding: 10px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

input
{
  font-size: 20px;
}

.btn
{
  border: 2px solid white;
  font-size: 12px;
  font-weight: bold;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.btn:hover
{
  color: white;
  background-color: #ff99a5;
  
}



